<div class="x_panel" style="height: 100%;">
    <div class="x_title">
        <h2>Events</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <button (click)="getEvents()" class="btn btn-default">Refresh </button>
            </li>
            <li>
                <button (click)="addNew()" class="btn btn-primary bn-sm">Add new</button>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div clas="x_content">
        <div  *ngIf="!isLoading">
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                   [jqueryDatatable]="dataTableOptions" [dataTableEvents]="dataTableEvents" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Place</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                    <th width="50">Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
