<div class="x_panel">
    <div class="x_title">
        <h2>Users</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <button (click)="getEvents()" class="btn btn-default">Refresh</button>
            </li>
            <li>
                <button (click)="addNew()" class="btn btn-primary bn-sm">Add new</button>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div clas="x_content">
        <table class="table table-striped table-bordered dt-responsive nowrap" [jqueryDatatable]="dataTableOptions" [dataTableEvents]="dataTableEvents"
               *ngIf="!!dataTableOptions">
            <thead>
            <tr>
                <th>UserName <span class="th-sort"> <i class="fa fa-sort"></i> </span></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Identification Type</th>
                <th>Identification Number</th>
                <th>Rol</th>
                <th>Active</th>
                <th width="20">Acciones</th>
            </tr>
            </thead>
        </table>
    </div>
</div>