<div class="x_panel">
    <div class="x_title">
        <h2>{{title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab_athlete" id="athlete_tab" role="tab" data-toggle="tab" aria-expanded="true">Athlete</a>
            </li>
            <li role="presentation" class="">
                <a href="#tab_categories" role="tab" id="categories-tab" data-toggle="tab" aria-expanded="false">Categories</a>
            </li>
            <li role="presentation" class="">
                <a href="#tab_score" role="tab" id="score-tab" data-toggle="tab" aria-expanded="false">Score</a>
            </li>
        </ul>
        <form class="form-horizontal form-label-left" novalidate (ngSubmit)="onSave()" #heroForm="ngForm">
            <div id="myTabContent" class="tab-content row">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_athlete" aria-labelledby="athlete-tab">
                    <span class="section">Personal Info</span>
                    <input id="athleteId" hidden [(ngModel)]="athlete.athleteId">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstName">First Name</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="firstName" class="form-control col-md-7 col-xs-12"
                                   required [(ngModel)]="athlete.firstName" ngControl="firstName" #firstName="ngForm">
                        </div>
                        <div [hidden]="firstName.valid || firstName.pristine" class="alert" style="opacity: 1">First
                            Name is required
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastName">Last Name </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="lastName" class="form-control col-md-7 col-xs-12"
                                   required [(ngModel)]="athlete.lastName" ngControl="lastName" #lastName="ngForm">
                        </div>
                        <div [hidden]="lastName.valid || lastName.pristine" class="alert" style="opacity: 1">Last Name
                            is required
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dateOfBirth">Day of Birth </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="dateOfBirth" class="form-control date-range-picker"
                                   data-date-format="dd-mm-yyyy" required="required" [(ngModel)]="athlete.dateOfBirth"
                                   #dateOfBirth="ngForm">
                        </div>
                        <div [hidden]="dateOfBirth.valid || dateOfBirth.pristine" class="alert" style="opacity: 1">Day
                            of Birth is required
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="identificationType">Identification
                            Type </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="identificationType" class="form-control col-md-7 col-xs-12"
                                    required="required" [(ngModel)]="athlete.identificationTypeId"
                                    #identificationType="ngForm">
                                <option *ngFor="let type of identificationTypes" [value]="type.id">
                                    {{type.description}}
                                </option>
                            </select>
                        </div>
                        <div [hidden]="identificationType.valid || identificationType.pristine" class="alert"
                             style="opacity: 1">Identification Type is required
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="identificationNumber">Identification
                            Number </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="identificationNumber" name="identificationNumber"
                                   class="form-control col-md-7 col-xs-12"
                                   required="required" [(ngModel)]="athlete.identificationNumber"
                                   #identificationNumber="ngForm">
                        </div>
                        <div [hidden]="identificationNumber.valid || identificationNumber.pristine" class="alert"
                             style="opacity: 1">Identification Number is required
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="email" id="email" name="email" class="form-control col-md-7 col-xs-12"
                                   required="required" [(ngModel)]="athlete.email" #email="ngForm">
                        </div>
                        <div [hidden]="email.valid || email.pristine" class="alert" style="opacity: 1">Email is
                            required
                        </div>
                        <div [hidden]="validateMail()" class="alert" style="opacity: 1">Email no valid</div>
                    </div>
                    <div class="form-group">
                        <label for="active" class="col-md-3 col-sm-3 col-xs-12 control-label">Active</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input id="active" type="checkbox" class="flat" checked="checked"
                                           required="required" [(ngModel)]="athlete.active">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_categories" aria-labelledby="categories-tab">
                    <span class="section">Athlete categories</span>
                    <div class="col-lg-5">
                        <div class="x_panel ">
                            <div class="x_title">
                                <h2>Available</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <ul class="list-group">
                                    <li *ngFor="let category of availablesCategories"
                                        (click)="onSelectAvailableCategory(category)"
                                        class="list-group-item" [class.active]="category === selectedAvailableCategory">
                                        <span>{{category.description}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-1">
                        <div class="x_panel ">
                            <div class="x_title">
                                <h2>Actions</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row center-block">
                                    <a class="btn btn-lg btn-default col-lg-5" (click)="unAssignSelectedCategory()"><i
                                            class="fa fa-angle-left"></i></a>
                                    <a class="btn btn-lg btn-default col-lg-5" (click)="assignSelectedCategory()"><i
                                            class="fa fa-angle-right"></i></a>
                                </div>

                                <div class="row center-block">
                                    <a class="btn btn-lg btn-default col-lg-5" (click)="unAssignAllCategories()"><i
                                            class="fa fa-angle-double-left"></i></a>
                                    <a class="btn btn-lg btn-default col-lg-5" (click)="assignAllCategories()"><i
                                            class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 ">
                        <div class="x_panel ">
                            <div class="x_title">
                                <h2>Assigned</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <ul class="list-group">
                                    <li *ngFor="let cat of athlete.categories"
                                        (click)="onSelectAssignedCategory(cat.category)"
                                        class="list-group-item"
                                        [class.active]="cat.category === selectedAssignedCategory">
                                        <span>{{cat.category.description}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_score" aria-labelledby="score-tab">
                    <div class="col-lg-5 ">
                        <span class="section">Athlete score</span>
                        <div class="x_panel ">
                            <div class="x_content">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Category</th>
                                        <th>Score</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cat of athlete.categories, let rowNum = index">
                                            <th scope="row" class="col-lg-1">{{rowNum + 1}}</th>
                                            <td>{{cat.category.description}}</td>
                                            <td class="col-lg-3">
                                                <input class="form-control col-md-2 col-xs-12" type="number"
                                                       [(ngModel)]="cat.initialScore" min="0" placeholder="0.00" step="any">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <a id="cancel" class="btn btn-danger" (click)="goBack()">Cancel</a>
                        <button id="save" type="submit" class="btn btn-primary" [disabled]="!heroForm.form.valid">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>