<div class="x_panel">
    <div class="x_title">
        <h2>{{title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content" *ngIf="!isLoading">
        <!-- Smart Wizard -->


        <form class="form-horizontal form-label-left" novalidate (ngSubmit)="onSave()" #heroForm="ngForm">
            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#tab_event">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Step 1<br/>
                                              <small>Basic Information</small>
                                          </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab_categories">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Step 2<br/>
                                              <small>Categories</small>
                                          </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab_athletes">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Step 3<br/>
                                              <small>Athletes</small>
                                          </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab_heats">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                              Step 4<br/>
                                              <small>Heats</small>
                                          </span>
                        </a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content row">
                    <div class="col-lg-12">
                        <div id="tab_event">
                            <input id="surfEventId" hidden [(ngModel)]="surfEvent.surfEventId">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="name" class="form-control col-md-7 col-xs-12"
                                           required [(ngModel)]="surfEvent.name" ngControl="name" #name="ngForm">
                                </div>
                                <div [hidden]="name.valid || name.pristine" class="alert" style="opacity: 1">Name is
                                    required
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                       for="description">Description </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="description" class="form-control col-md-7 col-xs-12"
                                           required [(ngModel)]="surfEvent.description" ngControl="description"
                                           #description="ngForm">
                                </div>
                                <div [hidden]="description.valid || description.pristine" class="alert"
                                     style="opacity: 1">
                                    Description is required
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="place">Place </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="place" name="place" class="form-control col-md-7 col-xs-12"
                                           required="required" [(ngModel)]="surfEvent.place" #place="ngForm">
                                </div>
                                <div [hidden]="place.valid || place.pristine" class="alert" style="opacity: 1">Place is
                                    required
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start">Start </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="start" class="form-control date-range-picker"
                                           data-date-format="dd-mm-yyyy" required="required"
                                           [(ngModel)]="surfEvent.start"
                                           #start="ngForm">
                                </div>
                                <div [hidden]="start.valid || start.pristine" class="alert" style="opacity: 1">Start is
                                    required
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end">End </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="end" class="form-control date-range-picker"
                                           data-date-format="dd-mm-yyyy" required="required" [(ngModel)]="surfEvent.end"
                                           #end="ngForm">
                                </div>
                                <div [hidden]="start.valid || start.pristine" class="alert" style="opacity: 1">End is
                                    required
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Status</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="status" class="form-control col-md-7 col-xs-12"
                                            required="required" [(ngModel)]="surfEvent.eventStatusId" #status="ngForm">
                                        <option *ngFor="let status of eventStatus" [value]="status.eventStatusId">
                                            {{status.description}}
                                        </option>
                                    </select>
                                </div>
                                <div [hidden]="status.valid || status.pristine" class="alert" style="opacity: 1">Status
                                    is
                                    required
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                       for="comments">Comments </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="comments" class="form-control col-md-7 col-xs-12"
                                           [(ngModel)]="surfEvent.comments" ngControl="comments" #comments="ngForm">
                                </div>
                            </div>

                        </div>
                        <div id="tab_categories">
                            <span class="section">Event categories</span>
                            <div class="col-lg-5">
                                <div class="x_panel ">
                                    <div class="x_title">
                                        <h2>Available</h2>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <ul class="list-group">
                                            <li *ngFor="let category of availablesCategories"
                                                (click)="onSelectAvailableCategory(category)"
                                                class="list-group-item"
                                                [class.active]="category === selectedAvailableCategory">
                                                <span>{{category.description}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-1">
                                <div class="x_panel ">
                                    <div class="x_title">
                                        <h2>Actions</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="row center-block">
                                            <a class="btn btn-sm btn-default col-lg-5"
                                               (click)="unAssignSelectedCategory()"><i
                                                    class="fa fa-angle-left"></i></a>
                                            <a class="btn btn-sm btn-default col-lg-5"
                                               (click)="assignSelectedCategory()"><i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>

                                        <div class="row center-block">
                                            <a class="btn btn-sm btn-default col-lg-5"
                                               (click)="unAssignAllCategories()"><i
                                                    class="fa fa-angle-double-left"></i></a>
                                            <a class="btn btn-sm btn-default col-lg-5"
                                               (click)="assignAllCategories()"><i
                                                    class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 ">
                                <div class="x_panel ">
                                    <div class="x_title">
                                        <h2>Assigned</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <ul class="list-group">
                                            <li *ngFor="let cat of surfEvent.categories"
                                                (click)="onSelectAssignedCategory(cat.category)"
                                                class="list-group-item"
                                                [class.active]="cat.category === selectedAssignedCategory">
                                                <span>{{cat.category.description}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="tab_athletes">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="x_panel ">
                                        <div class="x_title">
                                            <h2>Category</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <ul class="list-group">
                                                <li *ngFor="let cat of surfEvent.categories"
                                                    (click)="onSelecteEventCategory(cat)"
                                                    class="list-group-item"
                                                    [class.active]="cat === selectedEventCategory">
                                                    <span>{{cat.category.description}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2 *ngIf="!selectedEventCategory">Select a category to continue...</h2>
                                            <h2 *ngIf="!!selectedEventCategory">Athletes for <strong>{{selectedEventCategory.category.description}}</strong>
                                                category on this event</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content" *ngIf="!!selectedEventCategory">
                                            <div class="col-lg-5">
                                                <div class="x_panel ">
                                                    <div class="x_title">
                                                        <h2>Available Athletes</h2>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <ul class="list-group">
                                                            <li *ngFor="let athlete of availableAthletes"
                                                                (click)="onSelectAvailableAthlete(athlete)"
                                                                class="list-group-item"
                                                                [class.active]="athlete === selectedAvailableAthlete">
                                                                <span>{{ athlete.fullName }}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="x_panel ">
                                                    <div class="x_title">
                                                        <h2>Actions</h2>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <div class="row center-block">
                                                            <a class="btn btn-sm btn-default col-lg-5"
                                                               (click)="unAssingSelectedAthlete()"><i
                                                                    class="fa fa-angle-left"></i></a>
                                                            <a class="btn btn-sm btn-default col-lg-5"
                                                               (click)="assignSelectedAthlete()"><i
                                                                    class="fa fa-angle-right"></i></a>
                                                        </div>

                                                        <div class="row center-block">
                                                            <a class="btn btn-sm btn-default col-lg-5"
                                                               (click)="unAssignAllAthletes()"><i
                                                                    class="fa fa-angle-double-left"></i></a>
                                                            <a class="btn btn-sm btn-default col-lg-5"
                                                               (click)="assignAllAthletes()"><i
                                                                    class="fa fa-angle-double-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="x_panel ">
                                                    <div class="x_title">
                                                        <h2>Available Athletes</h2>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <ul class="list-group">
                                                            <li *ngFor="let categoryAthlete of selectedEventCategory.athletes"
                                                                (click)="onSelectAssignedAthlete(categoryAthlete)"
                                                                class="list-group-item"
                                                                [class.active]="categoryAthlete === selectAssignedAthlete">
                                                                <span>{{ categoryAthlete.athlete.fullName }}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab_heats">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="x_panel ">
                                        <div class="x_title">
                                            <h2>Heats</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li>
                                                    <a (click)="BuildHeats()" class="btn btn-default">Create Heats</a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="col-lg-3">
                                                <div class="x_panel ">
                                                    <div class="x_title">
                                                        <h2>Category</h2>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <ul class="list-group">
                                                            <li *ngFor="let cat of surfEvent.categories"
                                                                (click)="onSelecteEventCategory(cat)"
                                                                class="list-group-item"
                                                                [class.active]="cat === selectedEventCategory">
                                                                <span>{{cat.category.description}}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="x_panel ">
                                                    <div class="x_title">
                                                        <h2>Heats</h2>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <div *ngFor="let heat of selectedHeats, let i = index"
                                                             class="col-lg-4"
                                                             (click)="onSelecteHeat(heat)"
                                                             [class.active]="heat === selectedHeat">
                                                            <heat-panel [heat]="heat"></heat-panel>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- End SmartWizard Content -->

    </div>
</div>

<pre>
    {{surfEvent | json}}
</pre>

