<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Upcoming events<!--<small>Sessions</small>--></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <article class="media event" *ngFor="let event of events">
                <a class="pull-left date">
                    <p class="month">{{getMonthName(event.start)}}</p>
                    <p class="day">{{getDayOfMonth(event.start)}}</p>
                </a>
                <div class="media-body">
                    <a class="title" (click)="editEvent(event.surfEventId)">{{event.name}}</a>
                    <p>{{event.description}}</p>
                    <p>{{event.place}}</p>
                </div>
            </article>
        </div>
    </div>
</div>
