<div class="row">

  <next-events-content></next-events-content>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div>
      <div class="x_panel">
        <div class="x_title">
          <h2>Top Athletes</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul class="list-unstyled top_profiles scroll-view">
          <li class="media event">
            <a class="pull-left border-aero profile_thumb">
              <i class="fa fa-user aero"></i>
            </a>
            <div class="media-body">
              <a class="title" >Ms. Mary Jane</a>
              <!--<p><strong>$2300. </strong> Agent Avarage Sales </p>-->
              <!--<p> <small>12 Sales Today</small>-->
              <!--</p>-->
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-green profile_thumb">
              <i class="fa fa-user green"></i>
            </a>
            <div class="media-body">
              <a class="title" >Ms. Mary Jane</a>
              <!--<p><strong>$2300. </strong> Agent Avarage Sales </p>-->
              <!--<p> <small>12 Sales Today</small>-->
              <!--</p>-->
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-blue profile_thumb">
              <i class="fa fa-user blue"></i>
            </a>
            <div class="media-body">
              <a class="title" >Ms. Mary Jane</a>
              <!--<p><strong>$2300. </strong> Agent Avarage Sales </p>-->
              <!--<p> <small>12 Sales Today</small>-->
              <!--</p>-->
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-aero profile_thumb">
              <i class="fa fa-user aero"></i>
            </a>
            <div class="media-body">
              <a class="title" >Ms. Mary Jane</a>
              <!--<p><strong>$2300. </strong> Agent Avarage Sales </p>-->
              <!--<p> <small>12 Sales Today</small>-->
              <!--</p>-->
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-green profile_thumb">
              <i class="fa fa-user green"></i>
            </a>
            <div class="media-body">
              <a class="title" >Ms. Mary Jane</a>
              <!--<p><strong>$2300. </strong> Agent Avarage Sales </p>-->
              <!--<p> <small>12 Sales Today</small>-->
              <!--</p>-->
            </div>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>

</div>
