<div class="col-lg-3 col-md-3" *ngIf="heatAthlete">
    <div class="row">
        <div class="col-lg-12">
            <div class="tile-stats">
                <div class="text-center" [style.background-color]="getAthleteColor(heatAthlete.colorCode)"
                     [style.color]="getAthelteTextColor(heatAthlete.colorCode)">
                    <strong>{{heatAthlete.athlete.fullName}}</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <ag-grid-ng2 #agGrid class="ag-bootstrap ag-blue ag-fresh ag-material ag-common ag-dark"
                         [gridOptions]="gridOptions"
                         [columnDefs]="columnDefs"
                         [showToolPanel]="showToolPanel"
                         [rowData]="rowData"
                         rowHeight="30"
                         rowSelection="single">
            </ag-grid-ng2>
        </div>
    </div>
</div>


