<div class="x_panel heat-panel" *ngIf="!!heat">
    <div class="x_title">
        <div class="col-lg-1 col-offset-6 centered">
            <h2>Heat {{heat.number}}</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table">
            <thead>
            <tr>
                <th>Color</th>
                <th>Athlete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let athlete of heat.athletes, let rowNum = index">
                <td class="col-lg-2">
                    <div class="athlete-color"
                         [style.background]="getAthleteColor(athlete.colorCode)"></div>
                </td>
                <td>{{athlete.athlete.fullName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>