<!--<div class="x_panel tile">-->
<!--<div class="x_title">-->
<!--<h2>Positions</h2>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--<div class="x_content">-->
<div class="tile-stats">
    <div class="text-center">
        <strong>Positions</strong>
    </div>
</div>
<table class="table table-bordered table-striped jambo_table">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th class="text-center">Athlete</th>
        <th class="text-center">Wave 1</th>
        <th class="text-center">Wave 2</th>
        <th class="text-center">Prom</th>
        <th class="text-center">Win for</th>
        <th class="text-center">Need</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let heatAthlete of heat.athletes, let rowNum = index">
        <td class="text-right"><span class="pull-left">{{rowNum + 1}}</span></td>
        <th scope="row">
            <div class="athlete-color col-md-2"
                 [style.background-color]="getAthleteColor(heatAthlete.colorCode)"></div>
            <div class="col-lg-9"><strong>{{heatAthlete.athlete.fullName}}</strong>
            </div>
        </th>
        <td class="text-right">{{getAthleteFirstBestWave(heatAthlete.athleteId)}}</td>
        <td class="text-right">{{getAthleteSecondBestWave(heatAthlete.athleteId)}}</td>
        <td class="text-right">{{getAthleteWaveAvg(heatAthlete.athleteId)}}</td>
        <td class="text-right">{{rowNum === 0 ? '1.5' : '-'}}</td>
        <td class="text-right">{{rowNum > 0 ? '1.5' : '-'}}</td>
    </tr>
    </tbody>
</table>
<!--</div>-->
<!--</div>-->