<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="col-md-12">
            <div class="form-horizontal form-label-left input_mask" *ngIf="!!heat">
                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback" *ngFor='let ath of heat.athletes'>
                    <div class="input-group">
            <span class="input-group-btn">
                <div class="btn" style="border-style: solid;border-color: #ccc;height: 34px"
                     [style.background]="getAthleteColor(ath.colorCode)"></div>
            </span>
                        <input #box type="number" min="0" max="10" class="form-control">
            <span class="input-group-btn">
                <button type="button" (click)="onCheackClick(ath.athleteId,box)" class="btn btn-primary">Check</button>
                <button type="button" (click)="onPenaltyClick(ath.athleteId)" class="btn btn-warning">!</button>
            </span>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr class="headings">
                        <th>
                            Players
                        </th>
                        <th *ngFor="let round of rowData">
                            {{round}}
                        </th>

                    </tr>
                    </thead>
                    <tbody *ngIf="!!heat">
                    <tr *ngFor="let tm of tableModel">
                        <td>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-label-left input_mask">
                                        <div class="col-md-2">
                                        <div class="athlete-color" [style.background]="getAthleteColor(tm.colorCode)">

                                        </div>
                                            </div>
                                        <div class="col-md-1 " *ngFor="let round of tm.penalties">
                                            <i class="fa fa-close"></i>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td *ngFor="let score of tm.score">
                            <div>
                                {{score.value}}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4  col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>

                <th class="text-center">Equivalence</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="color: #f70416">0.1 a 1.9 Poor Waves</td>

            </tr>
            <tr>
                <td style="color: #f7991a">2.0 a 3.9 Bad Waves</td>
            </tr>
            <tr>
                <td style="color: #f7d900">4.0 a 5.9 Regular Waves</td>
            </tr>
            <tr>
                <td style="color: #99f703">6.0 a 7.9 Good Waves</td>
            </tr>
            <tr>
                <td style="color: #1076f7">8.0 a 10 Great Waves</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
