<!--<div class="x_panel heat-panel">-->
<!--<div class="x_title">-->
<!--<div class="col-lg-1 col-offset-6 centered">-->
<!--<span class="text-center"> <h2 >{{title}}</h2></span>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--<div class="x_content">-->
<div class="tile-stats">
    <div class="text-center">
        <strong>{{title}}</strong>
    </div>
</div>
<heat-panel [heat]="heat" *ngIf="!!heat"></heat-panel>
<!--</div>-->
<!--</div>-->