<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel tile">
        <div class="x_title">
            <h2>Heat 01</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <heat-entry></heat-entry>
        </div>
    </div>
</div>