<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="heat">
    <div class="x_panel tile">
        <div class="x_title">
            <h2 *ngIf="heat">Heat Overview</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div >
                <div class="row">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tile-stats">
                                <div class="row">
                                    <h3 class=" col-lg-4 col-lg-offset-1"> Division:
                                        {{heat.category.description}}</h3>
                                    <h3 class=" col-lg-2"> Round: {{heat.round}}</h3>
                                    <h3 class=" col-lg-2"> Heat: {{heat.number}}</h3>
                                    <h3 class=" col-lg-3 pull-right"> Time lef: <span
                                            style="color:red;">10:00</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                        <div *ngFor="let heatAthlete of heat.athletes">
                            <heat-judge-overview [heatAthlete]="heatAthlete"></heat-judge-overview>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel heat-panel">
        <div class="x_title">
            <div class="col-lg-1 col-offset-6 centered">
                <h2>Resume</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-lg-6">
                <heat-positions [heat]="heat"></heat-positions>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-6">
                    <previous-nex-heat [currentHeat]="heat" [widgetType]="{type: 'previous'}"></previous-nex-heat>
                </div>
                <div class="col-lg-6">
                    <previous-nex-heat [currentHeat]="heat" [widgetType]="{type: 'next'}"></previous-nex-heat>
                </div>
            </div>
        </div>
    </div>
</div>

