<div class="x_panel">
    <div class="x_title">
        <h2>{{title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form class="form-horizontal form-label-left" novalidate (ngSubmit)="onSave()" #userForm="ngForm">
            <div id="myTabContent" class="tab-content row">

                <span class="section">Personal Info</span>
                <input id="userId" hidden [(ngModel)]="user.userId">
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstName">First Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="firstName" class="form-control col-md-7 col-xs-12"
                               required [(ngModel)]="user.firstName" ngControl="firstName" #firstName="ngForm">
                    </div>
                    <div [hidden]="firstName.valid || firstName.pristine" class="alert" style="opacity: 1">First
                        Name is required
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastName">Last Name </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="lastName" class="form-control col-md-7 col-xs-12"
                               required [(ngModel)]="user.lastName" ngControl="lastName" #lastName="ngForm">
                    </div>
                    <div [hidden]="lastName.valid || lastName.pristine" class="alert" style="opacity: 1">Last Name
                        is required
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dateOfBirth">Day of Birth </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="dateOfBirth" class="form-control date-range-picker"
                               data-date-format="dd-mm-yyyy" required="required" [(ngModel)]="user.dateOfBirth"
                               #dateOfBirth="ngForm">
                    </div>
                    <div [hidden]="dateOfBirth.valid || dateOfBirth.pristine" class="alert" style="opacity: 1">Day
                        of Birth is required
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="identificationType">Identification
                        Type </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="identificationType" class="form-control col-md-7 col-xs-12"
                                required="required" [(ngModel)]="user.identificationTypeId"
                                #identificationType="ngForm">
                            <option *ngFor="let type of identificationTypes" [value]="type.id">
                                {{type.description}}
                            </option>
                        </select>
                    </div>
                    <div [hidden]="identificationType.valid || identificationType.pristine" class="alert"
                         style="opacity: 1">Identification Type is required
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="identificationNumber">Identification
                        Number </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="identificationNumber" name="identificationNumber"
                               class="form-control col-md-7 col-xs-12"
                               required="required" [(ngModel)]="user.identificationNumber"
                               #identificationNumber="ngForm">
                    </div>
                    <div [hidden]="identificationNumber.valid || identificationNumber.pristine" class="alert"
                         style="opacity: 1">Identification Number is required
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="email" id="email" name="email" class="form-control col-md-7 col-xs-12"
                               required="required" [(ngModel)]="user.email" #email="ngForm">
                    </div>
                    <div [hidden]="email.valid || email.pristine" class="alert" style="opacity: 1">Email is
                        required
                    </div>
                    <div [hidden]="validateMail()" class="alert" style="opacity: 1">Email no valid</div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="identificationType">Rol</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="rol" class="form-control col-md-7 col-xs-12"
                                required="required" [(ngModel)]="user.rol"
                                #rol="ngForm">
                            <option *ngFor="let rol of roles" [value]="rol.id">
                                {{rol.description}}
                            </option>
                        </select>
                    </div>
                    <div [hidden]="rol.valid || rol.pristine" class="alert"
                         style="opacity: 1">Role is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="active" class="col-md-3 col-sm-3 col-xs-12 control-label">Active</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="checkbox">
                            <label>
                                <input id="active" type="checkbox" class="flat" checked="checked"
                                       required="required" [(ngModel)]="user.active">
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <a id="cancel" class="btn btn-danger" (click)="goBack()">Cancel</a>
                        <button id="save" type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>