﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <link rel="shortcut icon" href="/Content/images/favicon.ico" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wave Tunnel | </title>


    <link rel="stylesheet" type="text/css" href="~/Scripts/node_modules/toastr/build/toastr.min.css">

    <!-- Bootstrap core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="~/Content/css/custom.css" rel="stylesheet">
    @*<link href="~/Content/css/icheck/flat/green.css" rel="stylesheet">
    <link href="~/Content/css/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />*@

    <!-- Custom angular2 css -->
    <link href="~/Content/css/ng.css" rel="stylesheet" />

<!-- AgGridNg2 -->
<link href="~/Scripts/node_modules/ag-grid/dist/styles/ag-grid.css" rel="stylesheet" />
<link href="~/Scripts/node_modules/ag-grid/dist/styles/theme-fresh.css" rel="stylesheet" />

</head>


<body class="nav-md">

    @RenderBody()

    <!-- JQuery -->
    <script src="~/Content/js/jquery.min.js"></script>

    <script src="~/Content/js/bootstrap.min.js"></script>

    <script src="~/Content/js/fastclick/lib/fastclick.js"></script>

    <script src="~/Content/js/nprogress/nprogress.js"></script>

    <script src="~/Content/js/custom.js"></script>

    <!-- bootstrap progress js -->
    <script src="~/Content/js/progressbar/bootstrap-progressbar.min.js"></script>
    <!-- icheck -->
    <script src="~/Content/js/icheck/icheck.min.js"></script>

  

    <!-- pace -->
    <script src="~/Content/js/pace/pace.min.js"></script>

    <script src="~/Content/js/moment/moment.min.js"></script>
    <script src="~/Content/js/datepicker/daterangepicker.js"></script>

    @RenderSection("scripts",false)
</body>

</html>
