﻿<!DOCTYPE html>
<html>
<head>
    <base href="/"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- 1. Load libraries -->
       <!-- Polyfill(s) for older browsers -->
      <script src="Scripts/node_modules/core-js/client/shim.min.js"></script>
      <script src="Scripts/node_modules/zone.js/dist/zone.js"></script>
      <script src="Scripts/node_modules/reflect-metadata/Reflect.js"></script>
      <script src="Scripts/node_modules/systemjs/dist/system.src.js"></script>
      <!-- 2. Configure SystemJS -->
      <script src="Scripts/systemjs.config.js"></script>
      <script>
          System.import('Scripts/dist/').catch(function(err){ console.error(err); });
      </script>
</head>
<body>
    <my-app>Loading...</my-app>
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->



